
#formulario {
    display: flex;
    flex-direction: column;
    height: 101%;
    width: 40%;
    background-color: rgb(101, 125, 125);
    border-radius: 30px;
}
h1 {
    color: rgb(229, 215, 146);
    margin-bottom: 5px;
}
h2{
    color: rgb(149, 197, 239);
    margin: 2,5px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-self: center;
    background-color: black;
}

#nome {
    width: 200px;
    margin-bottom: 10px;
}

#email {
    width: 200px;
    margin-bottom: 10px;
}
#sobrenome {
    width: 200px;
    margin-bottom: 10px;
}

#textos {
    padding: o;
    text-align: right;
    margin-right: 150px;
    align-items: flex-start;
}

#radio{
    margin-top: 50px;
}

#checkbox{
    margin-top: 50px;
}

#textarea {
    margin-top: 50px;
}

#texto {
    margin-top: 20px;
}

#mundo {
    margin-top: 20px;
}

img{
    height: 150px;
    width: 150px;
}

#imagens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px ;
}

#enviar{
    margin-top: 10px;
    margin-bottom: 10px;
}

#vidafront {
    color: rgb(203, 37, 37);
}
#vidaback{
    color: rgb(203, 37, 37);
}
a {
    text-decoration: none;
}